/* 
Warna
 
FEF9ED
BD8282
BEABD8
8AAEDA
7387BD */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    height: 100%;

}

.panjang{
    display: flex;
    height: 1000px;
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #BD8282;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    height: 100px;
}

.logo{
    font-size: 32px;
    color: #ffff;
    text-decoration: none;
    font-weight: 800;
}

.navbar a {
    font-size: 20px;
    color: #ffff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 10px;
    vertical-align: middle;
    position: relative;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 2px; 
    width: 0;
    background-color: #BD8282;
    transition: width 0.3s ease; 
    margin-top: 30px;
}

.navbar a i {
    font-size: 45px; 
    color: #ffff; 
    transition: color 0.5s ease; 
}

.navbar a:hover{
    color: #4e3030;
}

.navbar a:hover i {
    color: #4e3030; 
}

.navbar a:nth-child(-n+3)::after { 
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 3px; 
    width: 0;
    background-color: #4e3030;
    transition: width 0.3s ease; 
}

.navbar a:nth-child(-n+3):hover::after { 
    width: 100%; 
}

.search-bar {
    flex: 1;
    max-width: 500px;
    max-height: 600px;
    display: flex;
    gap:5px;
}

.search-bar:hover{
    transform: scale(0.98);
    transition: 0.3s;
}

.search-bar input{
    width: 100%;
    border-radius: 999px; 
    border: none; 
    outline: none; 
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
}
.search-artwork {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px; 
    border: none;
    outline: none;
    padding-right: 40px; 
}

.search-button {
    background: none;
    border: none;
    display: flex;
    font-size: 10px;
}

.hidden-navbar {
    position: fixed;
    top: 0;
    right: -250px; 
    height: 100%;
    width: 250px;
    background-color: #BD8282;
    ;
    transition: right 0.3s ease; 
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 9999;
    justify-content: flex-start;
    gap: 10px;
    
}

.tooltip {
    display: none; 
    position: absolute;
    top: 100%; 
    left: 50%;
    margin-top: 30px;
    transform: translateX(-50%); 
    background-color: #ffff; 
    color: #202d3d; 
    padding: 5px 10px;
    border-radius: 5px; 
    white-space: nowrap; 
    z-index: 9999; 
    font-size: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar a:hover .tooltip {
    display: block; 
}

.hidden-navbar a {
    margin: 15px 0;
    color: #fff;
    text-decoration: none;
    align-self: center;
}

.hidden-navbar.active {
    right: 0; 
}

.hamburger {
    display: none; 
}

.main-container {
    display: flex;
    flex-direction: column;
}

.container-login{
    margin-top: 50px;
    gap: 20px;
    background-color: #fbf7f7;
    border: 1.5px solid #202d3d;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.pilih{
    background-color: #BD8282;
    border-radius: 10px;
    padding: 5px;
}
.pilih a{
    text-decoration: none;
    color: #fff;
}

.pilih:hover{
    transform: scale(0.95);
    transition: 0.3s ease-in-out;
}

.footer {
    display: flex;
    padding: 20px;
    background-color: #f3f3f3; 
    border-top: 1px solid #ddd; 
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    flex-direction: column;
}

.menu-footer {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.logo img {
    height: 50px;
}

.copyright {
    font-size: 14px;
    color: #555;
    justify-content: center;
    display: flex;
}

.tentang-kami a{
    text-decoration: none;
    color: black;
}
.postingan img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition : 0.5s ease;
}

.postingan img:hover{
    transform: translateY(-20px);
    transition: 0.4s ease;
    opacity: 0.5;
}



.postingan {
    columns: 300px;
    margin : 5rem;
}

@media (max-width: 768px) {
    .navbar {
        display: none; 
    }
    .search-bar{
        display: none;
    }
    .hamburger {
        display: block; 
    }
    .header {
        justify-content: space-between; 
    }
}
