/* 
Warna
 
FEF9ED  = beige
BD8282 = Coklat
BEABD8 = Warna ungu terlalu muda
8AAEDA = biru agak ungu
7387BD = biru agak ungu tapi lebih tua */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    background-color: #FEF9ED;
}

.main-container{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    padding: 20px;
    outline:  #BD8282 double;
    margin-top: 5px;
}

.container-upload {
    display: flex; 
    margin-top: 50px;
    border: 1px solid #BD8282;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 20px;
}

.container-foto{
    width: 40%; 
    padding: 20px;
    background-color: #f3f3f3;
    height: auto;
    border-radius: 20px;
}

.container-form {
    width: 60%; 
    padding: 20px;
    padding-left: 50px;
    border-radius: 20px;
}

.container-form label{
    display: flex;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 18px;
}
.container-form input{
    width: 100%;
    border-radius: 20px;
    font-size: 24px;
    padding: 20px;
}
#caption{
    height: 40px;
}

#deskripsi{
    height: 200px;
    resize: none;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    font-size: 20px;
}
.container-form {
    background-color: #f3f3f3;
   
}

#drop-area{
    width: 100%;
    height: 300px;
    background: #BD8282;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

#img-view{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px dashed #BD8282;
    background: #ddd;
    overflow: hidden;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#submit{
  display: flex;
  width: 50%;
  justify-content: center;
  font-size: 20px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

#submit:hover{
    transform: scale(0.95);
    transition: 0.4s;
}

.submit-btn{
    display: flex;
    justify-content: center;
}

#img-view img{
    width: 100px;
    margin-top: 25px;
    object-fit: contain;
}

